include /usr/share/nano/apache2.nanorc
include /usr/share/nano/apacheconf.nanorc
#include /usr/share/nano/aptsrclist.nanorc
include /usr/share/nano/asm.nanorc
include /usr/share/nano/awk.nanorc
include /usr/share/nano/bash.nanorc
include /usr/share/nano/c-file.nanorc
include /usr/share/nano/c.nanorc
include /usr/share/nano/changelog.nanorc
include /usr/share/nano/changelogs.nanorc
include /usr/share/nano/clike.nanorc
include /usr/share/nano/cmake.nanorc
include /usr/share/nano/conf.nanorc
include /usr/share/nano/config.nanorc
include /usr/share/nano/config2.nanorc
include /usr/share/nano/config3.nanorc
include /usr/share/nano/configfiles.nanorc
include /usr/share/nano/conky.nanorc
include /usr/share/nano/css.nanorc
include /usr/share/nano/debian.nanorc
include /usr/share/nano/default.nanorc
include /usr/share/nano/delphi.nanorc
include /usr/share/nano/desc.nanorc
include /usr/share/nano/dotemacs.nanorc
include /usr/share/nano/dummy.nanorc
include /usr/share/nano/ebuild.nanorc
include /usr/share/nano/ekghistory.nanorc
include /usr/share/nano/etc-stuff.nanorc
#include /usr/share/nano/etcportage.nanorc
include /usr/share/nano/etcxml.nanorc
include /usr/share/nano/fortran.nanorc
include /usr/share/nano/gentoo.nanorc
include /usr/share/nano/groff.nanorc
include /usr/share/nano/havp.nanorc
include /usr/share/nano/html.nanorc
include /usr/share/nano/httpstatuscodes.nanorc
include /usr/share/nano/info.nanorc
include /usr/share/nano/ini.nanorc
include /usr/share/nano/initng.nanorc
include /usr/share/nano/initscript.nanorc
include /usr/share/nano/java.nanorc
include /usr/share/nano/js.nanorc
include /usr/share/nano/log-stuff.nanorc
include /usr/share/nano/lua.nanorc
include /usr/share/nano/maincf.nanorc
include /usr/share/nano/makefile.nanorc
include /usr/share/nano/man.nanorc
include /usr/share/nano/mcchangelog.nanorc
include /usr/share/nano/mgp.nanorc
include /usr/share/nano/mimetype.nanorc
include /usr/share/nano/mutt.nanorc
include /usr/share/nano/named.nanorc
include /usr/share/nano/nanorc.nanorc
include /usr/share/nano/nscd.nanorc
include /usr/share/nano/objc.nanorc
include /usr/share/nano/ocaml.nanorc
include /usr/share/nano/others.nanorc
include /usr/share/nano/paludis.nanorc
include /usr/share/nano/passwd.nanorc
include /usr/share/nano/patch.nanorc
include /usr/share/nano/perl.nanorc
include /usr/share/nano/php.nanorc
include /usr/share/nano/php2.nanorc
include /usr/share/nano/plaudis.nanorc
include /usr/share/nano/po.nanorc
include /usr/share/nano/postgresql.nanorc
include /usr/share/nano/pov.nanorc
include /usr/share/nano/privoxy.nanorc
include /usr/share/nano/profile.nanorc
include /usr/share/nano/python.nanorc
include /usr/share/nano/rcfiles-new.nanorc
include /usr/share/nano/rcfiles.nanorc
include /usr/share/nano/rsync.nanorc
include /usr/share/nano/ruby.nanorc
include /usr/share/nano/sh.nanorc
include /usr/share/nano/shlike.nanorc
include /usr/share/nano/softcam.nanorc
#include /usr/share/nano/sources_list.nanorc
include /usr/share/nano/spec.nanorc
include /usr/share/nano/tab.nanorc
include /usr/share/nano/tcl.nanorc
include /usr/share/nano/tex.nanorc
include /usr/share/nano/urls.nanorc
include /usr/share/nano/vhost.nanorc
include /usr/share/nano/xdefaults.nanorc
include /usr/share/nano/xml.nanorc
include /usr/share/nano/xorg.nanorc
 
set matchbrackets "(<[{)>]}"
set autoindent
set smooth
set tabsize 4
set tabstospaces
set nowrap
set softwrap
set suspend
set const
